header {
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

input {
  border-radius: 10px !important;
  padding-right: 1rem !important ;
  padding-left: 1rem !important ;
}
